* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins";
}

nav {
  height: 80px;
  background: #30a2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc(100vh - 1300px) / 2;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
}

.hero {
  background: #30a2ff;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #30a2ff;
  background: #fff;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: black;
  color: #fff;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  background: #30a2ff;
}

.hero-image {
  width: 80%;
  height: 80%;
}

@media screen and (max-width:768px) {
    .hero-container{
        grid-template-columns: 1fr;
    }
}